catkin-pkg==0.4.16
configparser==5.0.0
distro==1.5.0
docutils==0.16
future==0.18.2
fuzzyfinder==2.1.0
multipledispatch==0.6.0
numpy==1.18.2
nvdu==1.0.0.0
opencv-python==3.4.1.15
pandas==1.0.3
Pillow==7.1.1
pyglet==1.5.3
pyparsing==2.4.6
pyrealsense2==2.34.0.1454
pyrr==0.10.3
python-dateutil==2.8.1
pytz==2019.3
PyWavefront==0.2.0
PyYAML==5.3.1
rospkg==1.2.4
scipy==1.4.1
six==1.14.0
torch==1.4.0
torchvision==0.5.0
